/bin/
/Libs/
/.settings/
/.classpath
.svn/



/.DS_Store
/.classpath
*.class
*.swp
Libs/TempTestCase*
Libs/TempTestSuite*
bin/lib/TempTestCase*
Reports/
\.classpath
\.project
*settings/
bin/lib/
Libs/
/bin/lib/Temp*.class
Temp*.groovy
Libs/TempTestCase*.groovy